
* {

    user-select: none;
}
.pageLayout {

    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}

.cart_title {

  display: block;
  width: 100%;
}

#table-grid {

  width: 90%;

  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.element {

  display: flex;
  flex-direction: row;
  background-color: white;
  height: 80px;
  width: 100%;
}
.btn-trash {

  margin: 15px;
  width: 50px;
  height: 50px;
}
.thumb {

  margin: 15px;
  margin-left: 0px;
  width: 50px;
  height: 50px;

  background-size: cover;
  background-position: center center;
}

.element h4 {

  margin: 30px 0px;
  width: 300px;
}
.set_amount {

  height: 30px;
  margin: 25px;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
}
.set_amount button{

  height: 30px;
  width: 30px;
}
.set_amount_input {

  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.price {

  height: 30px;
  margin: 25px;
  margin-left: 0px;
  display: flex;
  align-self: center;

}
.unit_price {

  width: 2em;
  text-align: right;
}
.final_price {

  width: 2em;
  text-align: right;
}
.price svg {

  display: flex;
  align-self: center;
}

.bottom_area {

  height: 50px;
  width: 90%;
  display: flex;
  align-self: center;
  margin-top: 30px;
  flex-direction: row;
}

.bottom_area  button{

  text-align: center;
  align-self: center;
  height: 50px;
  width: 280px;
  margin: 5px auto 5px auto;
  font-size: 30px;
  border-radius: 10px;
  border: 40px;
  border: 3px solid lightgrey;
}

.bottom_area  button:after {
  display: block;
  position: absolute;
  margin-left: 8px;
  width: 255px;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.bottom_area  button:hover:after { transform: scaleX(1); }
.bottom_area  button:after{  transform-origin:  0% 50%; }
