/* ///////////// ASIDE/CATEGORIES BAR ///////////// */
aside {
    background-color: yellow;
    /* background-color: white; */
    border-right: 2px solid lightgrey;

    /* FLEXBOX */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: center;
}

aside section {
    height: 50px;
    width: 100%;

    background-color: lightgray;
    border: 1px solid black;

    /* FLEXBOX */
    display: flex;
    justify-content: center;
    align-items: center;
}

button {

  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 0px;
  background-color:white;

}

aside section:hover {
    background-color: gray;
    cursor: pointer;
}
