/* ///////////// ASIDE/CATEGORIES BAR ///////////// */
aside {
    background-color: yellow;
    /* background-color: white; */
    border-right: 2px solid lightgrey;

    /* FLEXBOX */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: center;
}

.category-option {

    height: 50px;
    width: 100%;

    background-color: white;
    border: 1px solid black;

    /* FLEXBOX */
    /*
    display: flex;
    align-items: center;
    justify-content: center;*/
}

aside .category-option:hover {
    background-color: gray;
    cursor: pointer;
}

.tlacitko {

  width: 100px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 5px solid red;
  background-color: red;
  padding: auto;
  color: red;
}
