/* ///////////// GENERAL RULES ///////////// */


body {
    /* something */
}

/* ///////////// FLEXBOX CLASSES ///////////// */
/* .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
} */
