body {

  margin: 0px;
  min-height: 100vh;
  min-width: 100vw;
  background-color: lightblue;
}

.wrapper {

  width: 100%;
  height: 100%;
  background-color: lightblue;
  display: flex;
}
.window {

  align-self: center;
  width: 100%;
  margin: 50px auto auto auto;
  background-color: white;
  min-height: 500px;
  display: flex;
  flex-direction: row;
}
.one_window {

  display: flex;
  min-height: 600px;
  width: 33%;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.cover_window {
  position: absolute;
  z-index: 4;
  width: 33.3%;
  background-color: lightblue;
}

.header_login {
  text-align: center;
  align-self: center;
  height: 40px;
  width: 100px;
  margin: 20px auto 20px auto;
  font-size: 30px;
  border-radius: 20px;
  border: 40px;
  border: 3px solid red;

}
.input_box h3 {
  text-align: center;
  margin: 5px;
}
.input_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
}
.around_input {

  width: 80%;
  display: flex;
  align-self: center;
  justify-content: center;
  height: 50px;
}
.around_input input {

  width: 80%;
  height: 30px;
  border: 0;
  padding-left: 10px;
  border-bottom: 3px solid lightgrey;
  outline: none;
  padding-bottom: 0px;
  transition: border-bottom,padding-bottom 0.1s linear;
}
.around_input:hover input{
  padding-bottom: 5px;
  border-bottom: 3px solid grey;
}
.login_buttons_box {

  height: 80px;
  display: flex;
  flex-direction: row;
}

.login_buttons_box  button{

  text-align: center;
  align-self: center;
  height: 50px;
  width: 140px;
  margin: 20px auto 20px auto;
  font-size: 30px;
  border-radius: 10px;
  border: 40px;
  border: 3px solid lightgrey;
}

.login_buttons_box  button:after {
  display: block;
  position: absolute;
  margin-left: 0px;
  width: 120px;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.login_buttons_box  button:hover:after { transform: scaleX(1); }
.login_buttons_box  button:after{  transform-origin:  0% 50%; }
