.pageLayout {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 1fr;

    background-color: wheat;
}

aside {
    margin: 0;
    margin-bottom: 20px;
}

main {
    background-color: wheat;
    /* height: 100vh; */
}
